.container {
    width: calc(100vw / 4 - 1.5rem);
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: 0.5px solid gainsboro;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* Ijil ondortei bolgoh code*/
    display: flex;
    flex-direction: column;
}

.image_container {
    width: 100%;
    /* height: 250px; */
}
.image_container img {
    width: 100%;
    /* height: 100%; */
}
.text_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    height: 250px;
}
.text h4 {
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.text p {
    font-size: 14px;
    color: #6b7280;
    font-weight: 400;
}
.price {
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.btn {
    background-color: #0a8020;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 12px 24px;
    width: 100%;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

@media (max-width: 991px) {
    .container {
       width: 100%;
    }
}
