.container {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2rem;
    border-top: 1px solid #c0bdbd;
    color: #6b7280;
    font-size: 16px;
    font-weight: 500;
    margin-top: 32px;
    background-color: #fff;
    height: 4rem;
}
