.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f12a01;
    margin: 0;
}

.logout {
    background: #f12a01;
    color: #fff;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
}
