.container {

    position:relative;
    
}
.header {
    display:flex;
    text-align:center;
    width:100%
}
.header h2{
    font-size:16px;

}
.btncontainer {
    display:flex;
    justify-content:space-between;
    width:100%
}


.btncontainer button[type="submit"] {
    background-color: #f12a01;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.btncontainer button[type="text"] {
 background-color: #6b7280;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.closebtn{
    position:absolute;
    top:1rem;
    right:1rem;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
}